<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Employee</h1>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" style="float: right;" class="btn btn-danger btn-sm"
                            (click)="onAddeditModelOpen('0');">Add
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Salary</th>
                                        <th>Department</th>
                                        <th style="width: 100px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of employeelist">
                                        <td>{{item.first_name}}</td>
                                        <td>{{item.last_name}}</td>
                                        <td>{{item.email_address}}</td>
                                        <td>{{item.phone_number}}</td>
                                        <td>{{item.salary}}</td>
                                        <td>{{item.departmentName}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm"
                                                (click)="onAddeditModelOpen(item.id);"><i class="fas fa-edit"></i></button>&nbsp;
                                            <button class="btn btn-danger btn-sm"
                                                (click)="onDeleteClick(item.id)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!employeelist?.length">
                                        <td colspan="7" style="display: center;"> No data found...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #addeditTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="this.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createEmployeeForm">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Select Department</label>
                        <div class="input-group">
                            <select formControlName="departmentId" placeholder="Select Department"
                                class="custom-control custom-select">
                                <option value="" class="max-width">Select Department</option>
                                <option [value]="item.id" *ngFor="let item of departmentlist">{{
                                    item.department_name
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>First Name</label>
                        <div class="input-group">
                            <input type="text" formControlName="first_name" placeholder="First Name"
                                class="form-control" />
                            <div *ngIf="isSubmit && createEmployeeForm.get('first_name')?.errors?.required"
                                class="invalid-feedback">
                                Please provide first name.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Last Name</label>
                        <div class="input-group">
                            <input type="text" formControlName="last_name" placeholder="Last Name"
                                class="form-control" />
                            <div *ngIf="isSubmit && createEmployeeForm.get('last_name')?.errors?.required"
                                class="invalid-feedback">
                                Please provide last name.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Email</label>
                        <div class="input-group">
                            <input type="email" formControlName="email_address" placeholder="Email"
                                class="form-control" />
                            <div *ngIf="isSubmit && createEmployeeForm.get('email_address')?.errors?.required"
                                class="invalid-feedback">
                                Please provide email.
                            </div>
                            <div *ngIf="isSubmit && createEmployeeForm.get('email_address')?.errors?.email"
                                class="invalid-feedback">
                                Please provide valid email.
                            </div>
                            <div *ngIf="isSubmit && createEmployeeForm.get('email_address')?.errors?.serverError"
                                class="invalid-feedback">
                                {{createEmployeeForm.get('email_address')?.errors?.serverError}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Phone Number</label>
                        <div class="input-group">
                            <input type="text" formControlName="phone_number" maxlength="10" placeholder="Phone Number"
                                class="form-control" (keypress)="numberOnly($event)" />
                            <div *ngIf="isSubmit && createEmployeeForm.get('phone_number')?.errors?.required"
                                class="invalid-feedback">
                                Please provide phone number.
                            </div>
                            <div *ngIf="isSubmit && createEmployeeForm.get('phone_number')?.errors?.serverError"
                                class="invalid-feedback">
                                {{createEmployeeForm.get('phone_number')?.errors?.serverError}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Salary</label>
                        <div class="input-group">
                            <input type="text" (keypress)="numberOnly($event)" formControlName="salary"
                                placeholder="Salary" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Bio</label>
                        <div class="input-group">
                            <input type="text" formControlName="bio" placeholder="Bio" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">                        
                        <div class="input-group">
                            <label>Upload Image</label>
                            <div class="input-group">
                                <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".png, .jpg, .jpeg"
                                    (change)="handleFileInput($event.target.files)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img [src]="imageUrl" style="height: 200px;width: 200px;">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-body">
        <button style="margin-right: 5px;" type="button" class="btn btn-primary" (click)="onsubmitclick()">Submit
        </button>
        <button type="button" class="btn btn-danger" (click)="createEmployeeForm.reset()">Reset
        </button>
    </div>
</ng-template>

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner> -->